<h2>Reset Password</h2>
<input id="password" type="password" placeholder="New Password">
<input id="confirm" type="password" placeholder="Confirm Password">
<button onclick="reset()">Reset</button>

<script src="{% static 'frontend/forgot_password.js' %}"></script>
<script>
    function reset() {
    fetch(`${API}/forgot-password/reset/`, {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            email: localStorage.getItem("reset_email"),
            password: password.value,
            confirm_password: confirm.value
        })
    })
    .then(res => {
        if (res.ok) {
            alert("Password reset successful");
            window.location.href = "/";
        }
    });
}
