<h2>Verify Code</h2>
<input id="code" placeholder="Verification Code">
<button onclick="verify()">Verify</button>

<script src="{% static 'frontend/forgot_password.js' %}"></script>
<script>
    function verify() {
    fetch(`${API}/forgot-password/verify-code/`, {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            email: localStorage.getItem("reset_email"),
            code: code.value
        })
    })
    .then(res => {
        if (res.ok) {
            window.location.href = "/reset-password/";
        } else {
            alert("Invalid code");
        }
    });
}
</script>